body {
  font-family: Helvetica;
}

h1 {
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

i {
  width: 48px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin: 40px;
  gap: 10px;
}

.container {
  border: 1px solid black;
  flex: 1;
  border-radius: 10px;
  padding: 30px;
}

.s-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.columns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#profile {
  text-align: center;
}

#contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 800px) {
  .columns {
    flex-direction: column;
  }
  #contact {
    flex-direction: column;
  }
}
